%footer#footer{:role => "contentinfo"}
  %section.section.swatch-white
    .container
      .row
        .col-md-12{:style => "padding-top: 15px; text-align: center;"}
          %p
            © 2015 Albert Labs. All Rights Reserved.